[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

/*
drop element
*/
.drop {
    height: 500px;
    padding: 9px;
    border: 2px dashed #fff;
}

/*
drag element
*/
.drag {
    cursor: move;
}

/*
element being dragged
*/
.on-drag {
    opacity: 0.4;
}

/*
class added to all .drop elements while dragging
*/
.dragging {
    padding: 9px;
    background: #ededed;
    border: 2px dashed #000;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
