<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" type="text/css" href="https://raw.github.com/fisshy/Angular-drag-drop/master/css/draganddrop.css" />
	<style>
		.car{
			border:1px solid black;
			padding:5px;
			height:50px;
			float:left;
			width:200px;
		}

		.sold{
			border:1px solid black;
			min-height: 500px;
			width: 300px;
			float:right;
		}
	</style>
</head>
<body>

	<div ng-controller="MyCntrl">
		<div drag  class="car" ng-repeat="car in cars" ng-model="car">
			{{ car.name }}
		</div>

		<div class="sold" drop="moveToSold">
			<div  ng-repeat="car in sold" >{{ car.name }}</div>
		</div>
	</div>	


	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
	<!--<script src="https://rawgithub.com/fisshy/Angular-drag-drop/master/src/dragandrop.js"></script>-->
	<script src="../angular-dnd.js"></script>
	

	<script>
		angular.module('myApp', ['dragAndDrop'])
			.controller('MyCntrl', function($scope){

				$scope.cars = [ 
					{ name : 'Volvo' 		}, 
					{ name : 'Audi' 		}, 
					{ name : 'BMW' 			}, 
					{ name : 'Mercedes' } 
				];

				$scope.sold = [ { name : 'Volvo' } ]; 

				$scope.moveToSold = function(car, element){
					var index = $scope.cars.indexOf(car);
					$scope.cars.splice(index, 1);
					$scope.sold.push(car);
				};

			});
	</script>
</body>
</html>